html, body {
    height: 100%;
    margin: 0;
}

.page {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-family: sans-serif;
    height: 100%;
}

.page>* {
    flex: 1;
}

.grid {
    display: flex;
    flex: 1 100%;
    min-height: 30vh;
    max-height: 60vh;
    align-items: flex-start;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .buttons {
        flex-flow: column wrap;
        align-items: center;
    }
}

.square {
    margin: 2px;
    font-size: 1.5rem;
    padding: .5rem .5rem;
    width: 10px;
    height: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 1);
    cursor: pointer;
    user-select: none;
}

.button:hover {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.25);
    border: .30rem solid black;
}

.fivepercentheight {
    max-height: 5vh;
}

.twentypercentheight {
    max-height: 20vh;
}

.footer {
    width: 100%;
    overflow: auto;
}

h1 {
    font-size: 2rem;
}