html, body {
    height: 100%;
    margin: 0;
}

.page {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-family: sans-serif;
    height: 100%;
}

.page>* {
    flex: 1;
}

.gridContainer {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    align-items: stretch;
    border: 2px solid black;
    height: 80vw;
    width: 80vw;
}

@media all and (max-width: 600px) {
    
}

.column{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
}

.square {
    margin: 1px;
    flex-grow: 1;
    background: white;
    cursor: pointer;
    user-select: none;
}

.mouseOver {
    background: black;
}

.fivepercentheight {
    display: flex;
    max-height: 8vh;
    align-items: center;
    justify-content: center;
}

.twentypercentheight {
    max-height: 20vh;
}

.footer {
    width: 100%;
    overflow: auto;
}

h1 {
    font-size: 2rem;
}

button {
    margin-left: 5px;
}